@media screen and ( max-width: 750px ) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
  }

  .hero_pic-container {
    display: none;
  }

  nav {
    justify-content: space-between;
    padding: 2rem;
  }

  .hero-info {
    margin: 0;
  }
}