/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  background: black;

  --primary-color: #808080;
  --secondary-color: #D4AF37;

  color: var(--primary-color);
}

body {
  font-family: "Nunito", serif;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */
a, .btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.logo > a > img {
  width: 4rem;
}

.nav-links {
  gap: 2rem;
  list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover,
svg:hover {
  color: var(--secondary-color);
  cursor: pointer ;
  font-weight: bold;
}

/* MOBILE Menu */
#mobile-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon, svg {
  width: 2rem;
  height: 2rem;
  color: var(--primary-color);
  cursor: point er;
}

.x-svg {
  display: none;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all .3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--primary-color);
  transition: all .3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.hamburger-svg.open {
  display: none;
}

.x-svg.open {
  display: block;
}

.menu-links.open {
  background-color: black;
  max-height: 15rem;
}

/* SECTIONS */

section {
  height: 100vh;
  padding: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  text-align: center;
}

/* HERO */

#hero {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 85vh;
}

.hero_pic-container,
.about_pic-container {
  display: flex;
  height: 20rem;
  width: 20em;
  margin: auto 0;
}


.hero_pic-container > img {
  border-radius: 50%;
}

.hero-info {
  text-align: start;
  margin: auto 0;
}

.hero-title,
.projects-title,
.about-title,
.experience-title {
  font-size: 3rem;
}

.hero-info p {
  font-weight: 600;
}

.hero-p2 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* PROJECTS */
.projects-cards {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.project-img > img {
  width: 16rem;
  border-radius: 1rem;
}

.project-card {
  padding: 2rem;
  border: solid .1rem var(--secondary-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-card > h2 {
  color: var(--secondary-color);
}


/* BUTTONS */

.btn-container {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.socials-container,
.icons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  font-family: "Nunito";
  font-weight: 600;
  padding: 1em;
  width: 8rem;
  border-radius: 2rem;
  transition: all 300ms ease-in-out;
}

.hero-btn,
.project-btn {
  background: var(--secondary-color);
  border: var(--secondary-color) solid .1rem;
}

.hero-btn:hover,
.project-btn:hover {
  background: transparent;
  color: var(--secondary-color);
  border: var(--secondary-color) solid .1rem;
  cursor:  pointer;
}

/* ABOUT */

#projects,
#about,
#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  height: 95vh;
}

.about-pic {
  border-radius: 1.5rem;
}

.about-container {
  display: flex;
  gap: 5rem;
  margin: auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.about-details-container {
  display: flex;
  gap: 2rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 1rem;
  margin: auto 0;
  border: var(--secondary-color) solid .1rem;
  border-radius: 1.5rem;
  gap: .5rem;
}

.details-container > h3 {
  color: var(--secondary-color);
}

.details-container-icon > svg {
  color: var(--secondary-color);
}

.about-info > p {
  margin-top: 5vh;
}

/* EXPERIENCE */

.experience-info {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.experience-info h3 {
  color: var(--secondary-color);
}

.front-end-container,
.back-end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1.5em;
  border: var(--secondary-color) solid .1rem;
}

.experience-icons-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

}

/* FOOTER */

footer {
  height: 20vh;
  margin-top: 2rem;
  padding: 3rem;
  background: #343434;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer-icons {
  margin-top: 1rem;
}